*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

h1{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body{
    background-color: white;
}

header{
    display: flex;
    background-color: white;
    height: 7vh;
}

h3{
    margin-left: 8px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}

nav{
    margin-left: 500px;
    margin-top: 25px;
    
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 7px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

nav ul li a:hover{
    background-color: rgb(245, 248, 255);
    border-radius: 7px;
    color:  rgba(0, 89, 255, 0.932);
}

#header_button{
    margin-left:30px;
    margin-top: 15px;
    height: 4vh;
    width: 7rem;
    border: none;
    border-radius: 10px;
    background-color: black;
}

#header_button a{
    color: white;
    text-decoration: none;
}

.header{
    display: flex;
    margin-left: 20%;
}

.fa-solid{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 15px;
    color: rgba(0, 89, 255, 0.932);
}

#section1{
    background-image: url(section1.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;
    background-size: cover;
    opacity: 0.8;
    background-color:rgba(0, 89, 255, 0.932);
    background-blend-mode: overlay;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.section1{
    padding-top: 200px;
    padding-left: 300px;
    color:  rgb(226, 218, 218);
}

#section1_h1{
    font-size: 60px;
}

.section1_p{
    font-size: 25px;
    font-weight: 400;
}

#button1_section1{
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    height: 4vh;
    width: 7rem;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

#button1_section1:hover{
    background-color: rgb(233, 232, 232);
}

#button2_section1{
    background-color: transparent;
    margin-top: 15px;
    height: 4vh;
    width: 7rem;
    margin-left: 15px;
    border-color: white;
    border-radius: 10px;
    color: rgb(226, 218, 218);
    font-weight: 700;
}

#button2_section1:hover{
    background-color: white;
    color: rgba(0, 89, 255, 0.932);
    border: none;
}

#section2{
    display: flex;
    background-color: rgba(233, 233, 233, 0.644);
    padding-top: 20px;
    height: 20vh;
}

.served {
     margin-left: 350px;
}

.volunteers {
    margin-left: 250px;
}

.housed {
     margin-left: 250px;
}

.programs {
     margin-left: 250px;
}

.h1_section2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.p_section2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#section3{
    display: flex;
    align-items: center;
}

.img1{
    margin-right: 300px;
    margin-top: 5rem;
    border-radius: 20px;
    width: 30rem;
}

.p_mission{
    margin-left: 300px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16.5px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.h1_mission{
    margin-left: 350px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.button_mission{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.p_programs{
    margin-top: 10px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.h1_program{
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#section4{
    height: 90vh;
    background-color: rgba(233, 233, 233, 0.644);
    margin-top: 100px;
}

.program{
    padding-top: 100px;
}

.img_program{
    display: flex;
    margin-left: 200px;
}

.img2{
    width: 25rem;
    height: 25vh;
    border-radius: 20px 20px 0 0;
}

.img_program1{
    margin-top: 50px;
    margin-left: 70px;
    width: 25rem;
    height: 40vh;
    background-color: white;
    border-radius: 20px;
}

.button_program{
    background-color: white;
    color: black;
    border-color: grey;
    border-width: 1px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 45%;
    border-radius: 10px;
}

.button_program:hover{
    background-color: rgba(233, 233, 233, 0.644);
}

.program1 {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    text-align: center;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.h3_program{
    text-align: center;
}

#section5{
    display:flex;
    margin: 70px 270px;
}

.img4{
    width: 35rem;
    border-radius: 20px;
}

.section5{
    width: 700px;
    margin-left: 50px;
    margin-top: 30px;
}

.p_section5{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: 20px;
}

.p1_section5{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: 5px;
}